*.rtf*
*.docx*
/.idea
/.github
/.vscode
.vs/
bin/
obj/
*.user
*.suo
*.dll
*.exe
*.pdb
*.cache
.vs/NSGA-II-SmartHome/DesignTimeBuild/.dtbcache.v2
.vs/NSGA-II-SmartHome/v17/.suo
.vs/NSGA-II-SmartHome/v17/DocumentLayout.backup.json
.vs/NSGA-II-SmartHome/v17/DocumentLayout.json
NSGA-II-SmartHome/bin/Debug/net8.0-windows/NSGA-II-SmartHome.dll
NSGA-II-SmartHome/bin/Debug/net8.0-windows/NSGA-II-SmartHome.exe
NSGA-II-SmartHome/bin/Debug/net8.0-windows/NSGA-II-SmartHome.pdb
NSGA-II-SmartHome/obj/Debug/net8.0-windows/apphost.exe
NSGA-II-SmartHome/obj/Debug/net8.0-windows/NSGA-II-SmartHome.AssemblyInfoInputs.cache
NSGA-II-SmartHome/obj/Debug/net8.0-windows/NSGA-II-SmartHome.dll
NSGA-II-SmartHome/obj/Debug/net8.0-windows/NSGA-II-SmartHome.pdb
NSGA-II-SmartHome/obj/Debug/net8.0-windows/NSGA-II-SmartHome.sourcelink.json
NSGA-II-SmartHome/obj/Debug/net8.0-windows/ref/NSGA-II-SmartHome.dll
NSGA-II-SmartHome/obj/Debug/net8.0-windows/refint/NSGA-II-SmartHome.dll
*.dll
*.exe
*.pdb
